* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  section {
    height: 100vh;
    background-color: rgb(44, 39, 46);
    font-family: sans-serif;
  }
  
  .score {
    color: rgb(224, 224, 224);
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .score h2 {
    font-size: 30px;
  }
  .score p {
    text-align: center;
    padding: 10px;
    font-size: 25px;
  }
  
  .intro {
    color: rgb(224, 224, 224);
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.5s ease;
  }
  
  .intro h1 {
    font-size: 50px;
  }
  .intro button,
  .match button,.refresh-btn {
    width: 150px;
    height: 50px;
    background: none;
    border: none;
    color: rgb(224, 224, 224);
    font-size: 20px;
    background: rgb(226, 72, 72);
    border-radius: 3px;
    cursor: pointer;
  }

  .match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
  }
  #winner {
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 50px;
  }
  #looser {
    color: rgb(224, 224, 224);
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
  }
  
  .hands,
  .options {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .player-hand {
    transform: rotateY(180deg);
  }
  
  div.fadeOut {
    opacity: 0;
    pointer-events: none;
  }
  
  div.fadeIn {
    opacity: 1;
    pointer-events: all;
  }
  
/*#refresh-btn {
    font-size: large;
    height: 40px;
    align-items: center;
    background: rgb(226, 72, 72);
}
.ref-btn{
    align-items: center;
}*/

  
  